{% extends "base.tmpl.html" %}

{% block title %}Card List{% endblock %}

{% block body %}
<h1>Card List</h1>
<form action="{{ url_for('sync_db_scryfall')}}" method="post">
    <button>sync db with scryfall</button>
</form>
<table>
    <thead>
        <tr>
            <th class="tbl-card-image">Card Image</th>
            <th class="tbl-card-name">Card Name</th>
            <!-- two cols for colour 1 for symbol, 1 for text -->
            <th class="tbl-card-colour-symbol">Colour</th>
            <th class="tbl-card-colour-text"></th>
            <th>Mana Value</th>
            <th>Card Type</th>
            <th>Card Rarity</th>
            <th>Scryfall Link</th>
        </tr>
    </thead>
    <tbody>
        {% for card in cards %}
        <tr>
            <td class="tbl-card-image">
                <img src="{{ url_for('images', path=card.image_uri) }}" alt="Card Image" height="50em">
            </td>
            <td class="tbl-card-name">{{ card.name }}</td>
            <td class="tbl-card-colour-symbol">{{ card.color_symbol }}</td>
            <td class="tbl-card-colour-text">{{ card.color_text }}</td>
            <td>{{ card.mana_value }}</td>
            <td>{{ card.type }}</td>
            <td card-rarity="{{ card.rarity | lower }}">{{ card.rarity | capitalize }}</td>
            <td><a href="{{ card.scryfall_uri }}">link</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
