{% extends "base.tmpl.html" %}

{% block title %}Card List{% endblock %}

{% block body %}
<h1>Home</h1>
<p>Welcome to the home page.</p>
<table>
    <thead>
        <tr>
            <th class="tbl-card-image">Card Image</th>
            <th class="tbl-card-name">Card Name</th>
            <!-- two cols for colour 1 for symbol, 1 for text -->
            <th class="tbl-card-colour-symbol">Colour</th>
            <th class="tbl-card-colour-text"></th>
            <th>Mana Value</th>
            <th>Card Type</th>
            <th>Card Rarity</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="tbl-card-image">
                <img src="https://cards.scryfall.io/small/front/0/c/0c9a7cb0-5bff-48ff-b620-2838816ac9b5.jpg?1580013910"
                    alt="Card Image" height="50em">
            </td>
            <td class="tbl-card-name">Counter Spell</td>
            <td class="tbl-card-colour-symbol">🔵</td>
            <td class="tbl-card-colour-text">U</td>
            <td>2</td>
            <td>Instant</td>
            <td card-rarity="common">Common</td>
        </tr>
        <tr>
            <td class="tbl-card-image">
                <img src="https://cards.scryfall.io/small/front/f/f/ff204024-20a5-4bb9-82b6-f6b4337efd60.jpg?1552226335"
                    alt="Card Image" height="50em">
            </td>
            <td class="tbl-card-name">Lightning Bolt</td>
            <td class="tbl-card-colour-symbol">🔴</td>
            <td class="tbl-card-colour-text">R</td>
            <td>1</td>
            <td>Instant</td>
            <td card-rarity="common">Common</td>
        </tr>
        <tr>
            <td class="tbl-card-image">
                <img src="https://cards.scryfall.io/small/front/2/f/2fc59bbe-436a-4e04-a988-7ff93930ea0b.jpg?1562484333"
                    alt="Card Image" height="50em">
            </td>
            <td class="tbl-card-name">Giant Growth</td>
            <td class="tbl-card-colour-symbol">🟢</td>
            <td class="tbl-card-colour-text">G</td>
            <td>1</td>
            <td>Instant</td>
            <td card-rarity="common">Common</td>
        </tr>
        <tr>
            <td class="tbl-card-image">
                <img src="https://cards.scryfall.io/small/front/9/0/90699423-2556-40f7-b8f5-c9d82f22d52e.jpg?1562851557"
                    alt="Card Image" height="50em">
            </td>
            <td class="tbl-card-name">Doom Blade</td>
            <td class="tbl-card-colour-symbol">⚫</td>
            <td class="tbl-card-colour-text">B</td>
            <td>2</td>
            <td>Instant</td>
            <td card-rarity="uncommon">Uncommon</td>
        </tr>
        <tr>
            <td class="tbl-card-image">
                <img src="https://cards.scryfall.io/small/front/2/a/2ae82d42-ac7b-44b8-aea9-43a7438f0004.jpg?1664927321"
                    alt="Card Image" height="50em">
            </td>
            <td class="tbl-card-name">Wrath of God</td>
            <td class="tbl-card-colour-symbol">⚪</td>
            <td class="tbl-card-colour-text">W</td>
            <td>4</td>
            <td>Sorcery</td>
            <td card-rarity="rare">Rare</td>
        </tr>
        <tr>
            <td class="tbl-card-image">
                <img src="https://cards.scryfall.io/small/front/e/a/ea880f94-4692-4922-b140-ff673f6a4035.jpg?1562843353"
                    alt="Card Image" height="50em">
            </td>
            <td class="tbl-card-name">Lightning Helix</td>
            <td class="tbl-card-colour-symbol">⚪🔴</td>
            <td class="tbl-card-colour-text">UR</td>
            <td>2</td>
            <td>Instant</td>
            <td card-rarity="uncommon">Uncommon</td>
        </tr>
        <tr>
            <td class="tbl-card-image">
                <img src="https://cards.scryfall.io/small/front/d/6/d67be074-cdd4-41d9-ac89-0a0456c4e4b2.jpg?1674057568"
                    alt="Card Image" height="50em">
            </td>
            <td class="tbl-card-name">Sheoldred, the Apocalypse</td>
            <td class="tbl-card-colour-symbol">⚫</td>
            <td class="tbl-card-colour-text">B</td>
            <td>4</td>
            <td>Creature</td>
            <td card-rarity="mythic">Mythic</td>
        </tr>
        <tr>
            <td class="tbl-card-image">
                <img src="https://cards.scryfall.io/small/front/e/4/e4b1aa1e-b4e3-4346-8937-76b312501c70.jpg?1673307974"
                    alt="Card Image" height="50em">
            </td>
            <td class="tbl-card-name">Jodah, the Unifier</td>
            <td class="tbl-card-colour-symbol">⚪🔵⚫🔴🟢</td>
            <td class="tbl-card-colour-text">WUBRG</td>
            <td>4</td>
            <td>Creature</td>
            <td card-rarity="mythic">Mythic</td>
        </tr>
        <tr>
            <td class="tbl-card-image">
                <img src="https://via.placeholder.com/150" alt="Card Image" height="50em">
            </td>
            <td class="tbl-card-name">some verrrrrrrrrrrrrrrrrrrrrry long nameeeeeeeeeeeeeee</td>
            <td class="tbl-card-colour-symbol">⚪🔵⚫🔴🟢</td>
            <td class="tbl-card-colour-text">WUBRG</td>
            <td>4</td>
            <td>Enchantment Creature</td>
            <td card-rarity="mythic">Mythic</td>
        </tr>
    </tbody>
</table>
{% endblock %}
